body {
    font-family: 'Segoe UI', sans-serif;
    background-color: #648d58;
    color: #172712;
    text-align: left;
    margin-top: 50px;
  }
  
  h1 {
    color: #007dd675;
    font-size: 36px;
  }
  h2 {
    color: #7397b1;
    font-size: 30px;
  }
  
  p {
    font-size: 20px;
    color: #555;
  }